.popup__button {
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    margin-bottom: 37px;
    padding: 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.8s ease;
}

.popup__button:hover {
    opacity: 0.8;
}

.popup__button:disabled {
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
}

@media screen and (max-width: 620px) {
    .popup__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 27px;
        margin-top: 44px;
    }
}